:root{
    --text-color: blueviolet;
    --background-color: rgb(231, 149, 231);
    --lists-hover-color: rgb(10, 10, 10);
    --button-hover-background: #424242;
    --general-color: #eee;
}

*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}



.lists{
    display: flex;
    list-style: none;
    gap: 30px;
    float: right;
    position: relative;
    bottom: 0;
    


}

.lists a{
    text-decoration: none;
    color: var(--general-color);
    font-size: 1.5rem;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

body{
    background: var(--background-color);
}
.lists a:hover{
    color: var(--lists-hover-color);
    border-radius: 5px;
    transform: translate(2sec);
}

ul.lists li.dropdownicon{
    display: none;
}
/* creating a dropdown menu for the navbar */

/* @media screen and (max-width:600px) {
    .lists{
        width: 100%;
    }
    
    .lists li{
        display: none;
        position: absolute;
        overflow: auto;
        
    }

    ul.lists li.dropdownicon{
        display: block;
    }    

    .show{
        display: block;
    }
} */

/* Home */

#welcome-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    min-width: 50%;
    gap: 20px;
    
}

.text, .name{
    color: var(--text-color);
    font-size: 1.3rem;
  
}
#welcome-section img{
    width: 250px;
    border-radius: 5px;
    
}

@media (max-width:600px) {
    #welcome-section{
        display: flex;
        flex-direction: column;
        float: right;
        width: 100%;
    }
    /* .lists{
        display: flex;
        flex-direction: column;
        float: left;
    }
    #abou{
        t */

    
}

.about-text{
    color: var(--general-color);
    display: block;
    align-items: center;
    justify-content: center;
}

h3{
    color: #000;
    font-size: 1.6rem;
    
}
.row{
    display: flex;
    width: 50%;
    gap: 50%;

}

@media (max-width:600px) {
    .row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

.contact{
    margin-top: 8px;
}

.contact p{
    padding: 8px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5PX;
    border: none;
    border-radius: 5px;
    margin: 3px;

}
button .btn2 a{
    text-decoration: none;
    color: #000;
}
button{
    width: 100px;
    height: 30px;
}

button:hover{
    background: var(--button-hover-background);
    color: var(--general-color);
    border: none;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;
    
}
.skills .progress-row{
    /* margin: 5px;  */
    padding: 5px;
}
.progress{
    
    position: relative;
}
.progress-in{
    position: absolute;
    width: 200px;
    height: 10px;
    border: 1px solid;
    background-color: var(--general-color);
    border-radius: 5px;
}
.skill-percentage{
    width: 90px;
    height: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    position: absolute;
}

.skill-percentage span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 210px;
    top: 0;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects img{
    width: 400px;
    height: 400px;
}

@media  (min-width:1000px) {
    .projects{
        display: flex;
        flex-direction: row;

    }
    
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

#profile-link{
    list-style: none;
}

.social-links #profile-link a{
    text-decoration: none;
    color: var(--general-color);
    font-size: 1.4rem;
}

.social-links #profile-link a:hover{
    color: var(--lists-hover-color);
    border-radius: 5px;
    transform: translate(2sec);
}

#contact .text{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact a{
    text-decoration: none;
    color: var(--general-color);
}

.contact a:hover{
    color: var(--lists-hover-color)
}

@media (max-width:600px) {
   #contact .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}